/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   /* width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}